#about {
  background-color: $veryLightBlue;
  padding-bottom: 4rem;

  @include breakpoint(sm) {
    padding-bottom: 2rem;
  }

  #xatal {
    color: $primary;
    font-weight: 500;
  }

  &__text {
    align-self: center;
  }

  &__content {
    gap: 2rem;

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  &__img {
    max-width: 20rem;
    margin-right: 1.5rem;

    @include breakpoint(sm) {
      margin-bottom: 1rem;
    }

    img {
      box-shadow: 1.5rem 1.5rem $lightBlack;
    }
  }
}